header {
    background-color: bisque;
    margin-right: 10px;
}

footer {
    background-color: darkseagreen;
    width: 45%;
    
}

aside {
    background-color: cornflowerblue;
    width: 50%;
    position: relative;
    right: 0%;
}

